/* .welcome__div{
    background-color: var(--theme-color);
    color: var(--color-white);
    width: 48%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.welcome__div {
    display: inline-block;
    width: 49%;
    height: 100vh;
}
.welcome_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    background-color: var(--theme-color);
    padding: 30% 20px;
    border-radius: 23px;
}
.welcome__heading{
    color: var(--light-blue);
    font-size: 50px;
    font-weight: 700;
}

.welcome__para {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-white);
}