
.welcome__div {
    width: 50%;
    height: 97vh;
    background-color: var(--bg-blue);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    font-family: var( --font-alt);
    color: var(--color-white);
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}

.img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.inner_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    font-family: var( --font-alt);
    color: var(--color-white);
    font-weight: 500
}
.welcome__heading{
    color: var(--light-blue);
    font-size: 50px;
    font-weight: 700;
}

.welcome__para {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-white);
}