.sidebar__div {
    background-color: var(--theme-color);
    width: 25%;
    background-color: var(--bg-color);
}
.sidebar_menulist_wrapper {
    padding: 10px 15px;
}
.sidebar_menu_links {
    text-decoration: none;
    color: var(--color-white);
    font-size: 17px;
    margin-bottom: 18px;
    display: block;
    padding: 10px 0px 10px 14px;
    border-radius: 10px;
    font-family: var(--font-alt);
    color: #fff;
}
.sidebar_menu_links:hover{
    background-color: var(--hover);
}
.sidebar_menu_links:focus{
    background-color: var(--hover);

}
/* .sidebar_menu_links.active{
    background-color: var(--bg-color);

} */
.sidebar_ml {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-alt);
}
