/* .login__card {
    color: var(--color-white);
    width: 48%;
    border-radius: 10px;
    padding: 70px;
} */
.login__card {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    height: 100vh;
}

.login_card_content {
    position: relative;
    top: 50%;
    transform: translateY(-54%);
}

.login__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--color-white);
    /* margin-bottom: 20px; */
    margin-left: 10%;
}
.input__div {
    width: 100%;
    text-align: center;
    color: var(--color-white);
    margin-left: 6%;
}
.input__field{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #6995c2;
    outline: none;
    padding: 10px;
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 0.9px;
    margin-top: 30px;
}

input::placeholder {
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 0.9px;
}

.forgot__pass-text:hover{
    cursor: pointer;
    color: var(--light-blue);
}

.login__btn{
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-btn);
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 15px;
}

.login__btn:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s ease-out;
}
p.forgot__pass-text {
    margin-bottom: 20px;
    margin-top: 20px;
}

.error_msg{
    color: var(--color-error);
    font-size: 12px;
    margin-top: 3px;
}