
.login__card {
    width: 50%;
    height: 97vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 10px 11px 7px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__div {
    width: 100%;
    padding: 20px;

}
.input__field {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #becfef;
    background-color: transparent;
    outline: none;
    padding: 10px;
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 0.9px;
    color: var(--theme-color);
}
.input__field:focus{
    background-color: #f5f7f9;
}

input::placeholder {
    font-weight: bold;
    color: var(--theme-color);
    letter-spacing: 0.9px;
}
p.forgot__pass-text {
    margin: 0;
    color: var(--bg-color);
}
.forgot__pass-text:hover{
    cursor: pointer;
    color: var(--light-blue);
}

.login__btn {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg-blue);
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 15px;
}

.login__btn:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s ease-out;
}

.error_msg{
    color: var(--color-error);
    font-size: 12px;
    margin-top: 3px;
}

.inputdiv_sub1 {
    height: 86px;
    margin-top: 10px;
}
.inputdiv_sub2 {
    margin: 10px 0px 20px 0px;
    text-align: center;
}
.login_label {
    font-weight: bold;
    color: var(--theme-color);
    letter-spacing: 0.9px;
    display: block;
    margin-bottom: 5px;
}



.username_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.input__field {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #becfef;
    background-color: transparent;
    outline: none;
    padding: 10px;
    font-weight: bold;
    color: var(--color-white);
    letter-spacing: 0.9px;
    color: var(--theme-color);
}

.inputdiv_sub1 {
    height: 80px;
    width: 70%;
}

.headText_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

