/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root {
  /* --font-base: 'Cormorant Upright', serif; */
  /* --font-alt: 'Open Sans', sans-serif; */
  --font-alt: 'Poppins', sans-serif;
  --font-base:: 'Roboto', sans-serif;

  --bg-color:  #0C2340;
  --hover: #132257;
  --light-blue: #0068d1;
  --color-btn: #3399ff;
  --color-white: #ffffff;
  --color-error: red;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-alt);
  /* background-color: var(--bg-color); */
}
body{
  /* background-color: var(--bg-color); */
  background-color: #fff;
  
}